@import url('https://use.typekit.net/lhl6ylv.css');

body {
    background: #1c1c1c;
    color: #cecece;
    font-family: 'myriad-pro';
    font-size: 18px;
}

#image {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.fundo {
    position: relative;
    display: grid;

}

.title {
    position: absolute;
}

.header {
    background-image: url('assets/img/fundo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));       
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    text-align: justify;
}

.subtitle {
    font-size: 23px;
}

.cover {
    padding: 0 1.5rem;
  }
  

.text-red {
    color: #e13c39;
}

.image img {
    height: 7vw;
    max-height: 60px;
    min-height: 30px;
}

.formulario {
  width: 130px;
}

.my-input {
  width: 90px;
  border-color: #cecece;
  background-color: #1c1c1c;
  color: #cecece;
  text-align: center;
  position: relative;
}

.my-input:hover,
.my-input:focus {
  background-color: #1c1c1c;
  color: #cecece;
}

.my-btn {
  background-color: #1c1c1c;
  cursor: pointer;
}
