@import url('https://use.typekit.net/lhl6ylv.css');

body {
    background: #1c1c1c;
    color: #cecece;
    font-family: 'myriad-pro';
    font-size: 18px;
}

.header {
    background: linear-gradient(#1c1c1c00, #1c1c1c), url('assets/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    text-align: justify;
}

h1 {
    font-size: 60px;
}

.subtitle {
    font-size: 18px;
}

@media (min-width: 576px) {
    h1 {
        font-size: 70px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 100px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 140px;
    }
    
    .subtitle {
        font-size: 20px;
    }
}

.cover {
    padding: 0 1.5rem;
  }
  

.text-red {
    color: #e13c39;
}

.contagem-num {
    font-size: 50px;
}

.contagem-label {
    font-size: 25px;
}

@media (min-width: 576px) {
    .contagem-num {
        font-size: 40px;
    }
    
    .contagem-label {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .contagem-num {
        font-size: 50px;
    }
    
    .contagem-label {
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .contagem-num {
        font-size: 60px;
    }
    
    .contagem-label {
        font-size: 30px;
    }
}

.image img {
    height: 7vw;
    max-height: 80px;
    min-height: 30px;
}

@media (max-width: 575px) {
    .image img {
        width: 50px;
        height: 100%;
    }
}

.forms-dezenas {
    height: 50px;;
}

.my-input {
  border-color: #cecece;
  background-color: #1c1c1c;
  color: #cecece;
  text-align: center;
  position: relative;
}

.my-input:hover,
.my-input:focus {
  background-color: #1c1c1c;
  color: #cecece;
}

.my-btn {
  background-color: #e13c39;
  border-color: #e13c39;
  color: #cecece;
  cursor: pointer;
}

.my-btn:hover,
.my-btn:focus {
    background-color: #e13c39;
    color: #1c1c1c;
    font-weight: 700;
}

.footer {
    background: linear-gradient(#1c1c1c, #1c1c1c00), url('assets/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 574px) {
    .footer-copy,
    .footer-lema {
        display: block;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .footer-lema {
        float: right;
    }
}
